@{
    Layout = null;
}
<!-- Modified from the Mozilla text editor example: https://developer.mozilla.org/en-US/docs/Rich-Text_Editing_in_Mozilla -->

<div id="toolbx" class="toolbox" onmouseenter="setTlBxActive('true')" onmouseleave="setTlBxActive('false')">
    @Scripts.Render("~/Scripts/editScript.js")
    <div id="toolBar1">
        <select onchange="formatDoc('fontname',this[this.selectedIndex].value);this.selectedIndex=0;">
            <option class="heading" selected>-Font-</option>
            <option>Arial</option>
            <option>Arial Black</option>
            <option>Courier New</option>
            <option>Times New Roman</option>
            <option>Montserrat-Light</option>
            <option>Montserrat-Regular</option>
            <option>Quicksand-Bold</option>
        </select>
        <select onchange="formatDoc('fontsize',this[this.selectedIndex].value);this.selectedIndex=0;">
            <option class="heading" selected>-Font Size-</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
        <select onchange="formatDoc('forecolor',this[this.selectedIndex].value);this.selectedIndex=0;">
            <option class="heading" selected>-Font Color-</option>
            <option value="#83a44a">Green</option>
            <option value="#8ebc3d">Light Green</option>
            <option value="#6E8D45">Dark Green</option>
            <option value="#3f4ca3">Blue</option>
            <option value="#e83930">Red</option>
            <option value="#474747">Dark Grey</option>
            <option value="#c3c3c3">Light Grey</option>
            <option value="#c3c3c3">Platinum</option>
            <option value="#632e1c">Brown</option>
            <option value="#000000">Black</option>
            <option value="#ffffff">White</option>
        </select>
    </div>
    <div id="toolBar2">
        <img class="intLink" title="Bold" onclick="formatDoc('bold');" src="~/Resources/Bold.png" />
        <img class="intLink" title="Italic" onclick="formatDoc('italic');" src="~/Resources/Italic.png" />
        <img class="intLink" title="Underline" onclick="formatDoc('underline');" src="~/Resources/Underline.png" />
        <img class="intLink" title="Align Left" onclick="formatDoc('justifyleft');" src="~/Resources/Left_align.png" />
        <img class="intLink" title="Center" onclick="formatDoc('justifycenter');" src="~/Resources/Center.png" />
        <img class="intLink" title="Align Right" onclick="formatDoc('justifyright');" src="~/Resources/Right_align.png" />
        <img class="intLink" title="Numbered list" onclick="formatDoc('insertorderedlist');" src="data:image/gif;base64,R0lGODlhFgAWAMIGAAAAADljwliE35GjuaezxtHa7P///////yH5BAEAAAcALAAAAAAWABYAAAM2eLrc/jDKSespwjoRFvggCBUBoTFBeq6QIAysQnRHaEOzyaZ07Lu9lUBnC0UGQU1K52s6n5oEADs=" />
        <img class="intLink" title="Dotted list" onclick="formatDoc('insertunorderedlist');" src="data:image/gif;base64,R0lGODlhFgAWAMIGAAAAAB1ChF9vj1iE33mOrqezxv///////yH5BAEAAAcALAAAAAAWABYAAAMyeLrc/jDKSesppNhGRlBAKIZRERBbqm6YtnbfMY7lud64UwiuKnigGQliQuWOyKQykgAAOw==" />
        <img class="intLink" title="Quote" onclick="formatDoc('formatblock','blockquote');" src="data:image/gif;base64,R0lGODlhFgAWAIQXAC1NqjFRjkBgmT9nqUJnsk9xrFJ7u2R9qmKBt1iGzHmOrm6Sz4OXw3Odz4Cl2ZSnw6KxyqO306K63bG70bTB0rDI3bvI4P///////////////////////////////////yH5BAEKAB8ALAAAAAAWABYAAAVP4CeOZGmeaKqubEs2CekkErvEI1zZuOgYFlakECEZFi0GgTGKEBATFmJAVXweVOoKEQgABB9IQDCmrLpjETrQQlhHjINrTq/b7/i8fp8PAQA7" />
        <img class="intLink" title="Add indentation" onclick="formatDoc('outdent');" src="data:image/gif;base64,R0lGODlhFgAWAMIHAAAAADljwliE35GjuaezxtDV3NHa7P///yH5BAEAAAcALAAAAAAWABYAAAM2eLrc/jDKCQG9F2i7u8agQgyK1z2EIBil+TWqEMxhMczsYVJ3e4ahk+sFnAgtxSQDqWw6n5cEADs=" />
        <img class="intLink" title="Delete indentation" onclick="formatDoc('indent');" src="data:image/gif;base64,R0lGODlhFgAWAOMIAAAAADljwl9vj1iE35GjuaezxtDV3NHa7P///////////////////////////////yH5BAEAAAgALAAAAAAWABYAAAQ7EMlJq704650B/x8gemMpgugwHJNZXodKsO5oqUOgo5KhBwWESyMQsCRDHu9VOyk5TM9zSpFSr9gsJwIAOw==" />
    </div>
</div>