@{
    Layout = null;
}
<!-- Modified from the Mozilla text editor example: https://developer.mozilla.org/en-US/docs/Rich-Text_Editing_in_Mozilla -->

<div id="toolbx" class="toolbox" onmouseenter="setTlBxActive('true')" onmouseleave="setTlBxActive('false')">
    @Scripts.Render("~/Scripts/editScript.js")
    <div id="toolBar1">
        <select onchange="formatDoc('fontname',this[this.selectedIndex].value);this.selectedIndex=0;">
            <option class="heading" selected>-Font-</option>
            <option>Arial</option>
            <option>Arial Black</option>
            <option>Courier New</option>
            <option>Times New Roman</option>
            <option>Montserrat-Light</option>
            <option>Montserrat-Regular</option>
            <option>Quicksand-Bold</option>
        </select>
        <select onchange="formatDoc('fontsize',this[this.selectedIndex].value);this.selectedIndex=0;">
            <option class="heading" selected>-Font Size-</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
        <select onchange="formatDoc('forecolor',this[this.selectedIndex].value);this.selectedIndex=0;">
            <option class="heading" selected>-Font Color-</option>
            <option value="#83a44a">Green</option>
            <option value="#8ebc3d">Light Green</option>
            <option value="#6E8D45">Dark Green</option>
            <option value="#3f4ca3">Blue</option>
            <option value="#e83930">Red</option>
            <option value="#474747">Dark Grey</option>
            <option value="#c3c3c3">Light Grey</option>
            <option value="#c3c3c3">Platinum</option>
            <option value="#632e1c">Brown</option>
            <option value="#000000">Black</option>
            <option value="#ffffff">White</option>
        </select>
    </div>
    <div id="toolBar2">
        <img class="intLink" title="Bold" onclick="formatDoc('bold');" src="~/Resources/Bold.png" />
        <img class="intLink" title="Italic" onclick="formatDoc('italic');" src="~/Resources/Italic.png" />
        <img class="intLink" title="Underline" onclick="formatDoc('underline');" src="~/Resources/Underline.png" />
        <img class="intLink" title="Align Left" onclick="formatDoc('justifyleft');" src="~/Resources/Left_align.png" />
        <img class="intLink" title="Center" onclick="formatDoc('justifycenter');" src="~/Resources/Center.png" />
        <img class="intLink" title="Align Right" onclick="formatDoc('justifyright');" src="~/Resources/Right_align.png" />
        <img class="intLink" title="Numbered list" onclick="formatDoc('insertorderedlist');" src="~/Resources/Numbered_list.png" />
        <img class="intLink" title="Bulleted list" onclick="formatDoc('insertunorderedlist');" src="~/Resources/Bulleted_list.png" />
        <img class="intLink" title="Quote" onclick="formatDoc('formatblock','blockquote');" src="~/Resources/Quote.png" />
        <img class="intLink" title="Delete indentation" onclick="formatDoc('outdent');" src="~/Resources/Delete_indent.png" />
        <img class="intLink" title="Add indentation" onclick="formatDoc('indent');" src="~/Resources/Add_indent.png" />
        <img class="intLink" title="Insert Link" onclick="var link = prompt('Enter the URL here', 'http:\/\/'); if (link && link != '' && link != 'http://') { formatDoc('createlink', link) };" src="~/Resources/Hyperlink.png" />
    </div>
</div>